## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [3]:
import pandas as pd

In [8]:
weather_df = pd.read_csv('weather-raw.csv')
weather_df

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
columns_names = weather_df.columns

for i in columns_names:
    print(i)

id
year
month
element
d1
d2
d3
d4
d5
d6
d7
d8
d9
d10
d11
d12
d13
d14
d15
d16
d17
d18
d19
d20
d21
d22
d23
d24
d25
d26
d27
d28
d29
d30
d31

In [16]:
weather_df2=weather_df.melt(id_vars=["id","year","month","element"],var_name=["day"],value_name="temp")
weather_df2
weather_df2.update(pd.DataFrame({"day":[day[1:] for day in weather_df2["day"]]}))
weather_df2.sample(5)

          id  year  month element day  temp
405  MX17004  2010      5    tmin  19   NaN
50   MX17004  2010      4    tmax   3   NaN
579  MX17004  2010      4    tmin  27  16.7
465  MX17004  2010      2    tmin  22   NaN
325  MX17004  2010     10    tmin  15  10.5

In [66]:
weather_df3=(weather_df2.pivot_table(index = ["year","month","day","id"], columns = "element", values = "temp")
       .reset_index().rename_axis(None, axis = 1))
weather_df3

    year  month day       id  tmax  tmin
0   2010      1  30  MX17004  27.8  14.5
1   2010      2  11  MX17004  29.7  13.4
2   2010      2   2  MX17004  27.3  14.4
3   2010      2  23  MX17004  29.9  10.7
4   2010      2   3  MX17004  24.1  14.4
5   2010      3  10  MX17004  34.5  16.8
6   2010      3  16  MX17004  31.1  17.6
7   2010      3   5  MX17004  32.1  14.2
8   2010      4  27  MX17004  36.3  16.7
9   2010      5  27  MX17004  33.2  18.2
10  2010      6  17  MX17004  28.0  17.5
11  2010      6  29  MX17004  30.1  18.0
12  2010      7   3  MX17004  28.6  17.5
13  2010      7  14  MX17004  29.9  16.5
14  2010      8  23  MX17004  26.4  15.0
15  2010      8   5  MX17004  29.6  15.8
16  2010      8  29  MX17004  28.0  15.3
17  2010      8  13  MX17004  29.8  16.5
18  2010      8  25  MX17004  29.7  15.6
19  2010      8  31  MX17004  25.4  15.4
20  2010      8   8  MX17004  29.0  17.3
21  2010     10   5  MX17004  27.0  14.0
22  2010     10  14  MX17004  29.5  13.0
23  2010     10  15  MX17004  28.7  10.5
24  2010     10  28  MX17004  31.2  15.0
25  2010     10   7  MX17004  28.1  12.9
26  2010     11   2  MX17004  31.3  16.3
27  2010     11   5  MX17004  26.3   7.9
28  2010     11  27  MX17004  27.7  14.2
29  2010     11  26  MX17004  28.1  12.1
30  2010     11   4  MX17004  27.2  12.0
31  2010     12   1  MX17004  29.9  13.8
32  2010     12   6  MX17004  27.8  10.5

In [76]:
weather_df4=(weather_df3.assign(date = lambda x: x.day.astype("str") +"/"+ x.month.astype("str").str.zfill(2) +"/"+ x.year.astype("str").str.zfill(2))
            .drop(["year", "month","day"],axis=1))
# weather_df4['date'] =  pd.to_datetime(weather_df4['date'], dayfirst=True, format='%d/%m/%Y')
weather_df4

         id  tmax  tmin        date
0   MX17004  27.8  14.5  30/01/2010
1   MX17004  29.7  13.4  11/02/2010
2   MX17004  27.3  14.4   2/02/2010
3   MX17004  29.9  10.7  23/02/2010
4   MX17004  24.1  14.4   3/02/2010
5   MX17004  34.5  16.8  10/03/2010
6   MX17004  31.1  17.6  16/03/2010
7   MX17004  32.1  14.2   5/03/2010
8   MX17004  36.3  16.7  27/04/2010
9   MX17004  33.2  18.2  27/05/2010
10  MX17004  28.0  17.5  17/06/2010
11  MX17004  30.1  18.0  29/06/2010
12  MX17004  28.6  17.5   3/07/2010
13  MX17004  29.9  16.5  14/07/2010
14  MX17004  26.4  15.0  23/08/2010
15  MX17004  29.6  15.8   5/08/2010
16  MX17004  28.0  15.3  29/08/2010
17  MX17004  29.8  16.5  13/08/2010
18  MX17004  29.7  15.6  25/08/2010
19  MX17004  25.4  15.4  31/08/2010
20  MX17004  29.0  17.3   8/08/2010
21  MX17004  27.0  14.0   5/10/2010
22  MX17004  29.5  13.0  14/10/2010
23  MX17004  28.7  10.5  15/10/2010
24  MX17004  31.2  15.0  28/10/2010
25  MX17004  28.1  12.9   7/10/2010
26  MX17004  31.3  16.3   2/11/2010
27  MX17004  26.3   7.9   5/11/2010
28  MX17004  27.7  14.2  27/11/2010
29  MX17004  28.1  12.1  26/11/2010
30  MX17004  27.2  12.0   4/11/2010
31  MX17004  29.9  13.8   1/12/2010
32  MX17004  27.8  10.5   6/12/2010

In [77]:
weather_df5=(weather_df4.filter(["date", "tmax","tmin"]).groupby("date").aggregate("mean").reset_index())
weather_df5

          date  tmax  tmin
0    1/12/2010  29.9  13.8
1   10/03/2010  34.5  16.8
2   11/02/2010  29.7  13.4
3   13/08/2010  29.8  16.5
4   14/07/2010  29.9  16.5
5   14/10/2010  29.5  13.0
6   15/10/2010  28.7  10.5
7   16/03/2010  31.1  17.6
8   17/06/2010  28.0  17.5
9    2/02/2010  27.3  14.4
10   2/11/2010  31.3  16.3
11  23/02/2010  29.9  10.7
12  23/08/2010  26.4  15.0
13  25/08/2010  29.7  15.6
14  26/11/2010  28.1  12.1
15  27/04/2010  36.3  16.7
16  27/05/2010  33.2  18.2
17  27/11/2010  27.7  14.2
18  28/10/2010  31.2  15.0
19  29/06/2010  30.1  18.0
20  29/08/2010  28.0  15.3
21   3/02/2010  24.1  14.4
22   3/07/2010  28.6  17.5
23  30/01/2010  27.8  14.5
24  31/08/2010  25.4  15.4
25   4/11/2010  27.2  12.0
26   5/03/2010  32.1  14.2
27   5/08/2010  29.6  15.8
28   5/10/2010  27.0  14.0
29   5/11/2010  26.3   7.9
30   6/12/2010  27.8  10.5
31   7/10/2010  28.1  12.9
32   8/08/2010  29.0  17.3